<body>
    <div class="container">
        <h1>🎵 Guess the Song 🎵</h1>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark" type="button" (click)="getThePlaylistForGuess()">Empezar a jugar</button>
        </div>

        <div class="hints">
            <p *ngIf="hintMessage">{{hintMessage}}</p>
            <div class="album-container" *ngIf="albumImageUrl">
                <img class="albumCover" [src]="albumImageUrl" width="200" height="200">
            </div>
        </div>
        
        <audio controls id="audioPlayer"></audio>

        <div>
            <button *ngFor="let song of randomSongs" class="btn btn-success btn-sm" type="button"
                (click)="handleOptionClick(song)">{{ song.track.name }}</button>
        </div>

        <button type="button" class="btn btn-warning btn-sm" (click)="showHint()" [disabled]="hintButtonDisabled">Hint</button>

    </div>
</body>