<div class="div-container">
    <div class="background">

        <app-navbar></app-navbar>

        <div class="search">
            <div class="wrapper" class="animate__animated animate__fadeIn">
                <div class="limit-width" #asBoxInput>

                    <input class="form-control input-src" [spellcheck]="false" placeholder="🔍 Buscar amigos"
                        type="text" (input)="searchFriends($event)">

                    <div class="results" *ngIf="filteredFriends" type="button">
                        <ul>
                            <li *ngFor="let friend of filteredFriends"
                                [ngClass]="{'followed': isFriend(friend),'not-followed': !isFriend(friend) }"
                                (click)="selectedFriends(friend)" data-bs-toggle="modal" data-bs-target="#ModalFollow">

                                <div target="_blank" type="button">
                                    <p style="margin-top: 10px;">{{friend.id}}</p>
                                </div>

                                <img [src]="friend.url_photo" alt="User Photo" class="user-photo rounded-circle"
                                    style="margin-top: 1px;">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalFollow" data-bs-backdrop="static" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="false" *ngIf="selectedFriend">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="hideComparisonOptions()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex align-items-center justify-content-around">
                            <div class="text-center">
                                <img [src]="selectedFriend.url_photo" alt="UserPhoto"
                                    style="width: 100px; height: 100px; border-radius: 50%;">
                                <p class="mx-auto"><strong>{{selectedFriend.display_name}}</strong></p>
                            </div>
                            <div class="d-flex">
                                <div style="margin-right: 20px;" class="text-center">
                                    <img src="assets/MyFollows.png" alt="imagen" style="width: 40px; height: 40px;">
                                    <p><strong>SEGUIDOS:{{ selectedUser.friends.length }}</strong></p>
                                </div>
                                <div style="margin-left: 20px;" class="text-center">
                                    <img src="assets/Followers.png" alt="imagen" style="width: 40px; height: 40px;">
                                    <p><strong>SEGUIDORES:{{ selectedUser.followers.length }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <div class="modal-footer d-flex justify-content-center">

                            <img src="assets/Follow.png" type="button" *ngIf="!isFriend(selectedFriend)"
                                (click)="onAddFriend(selectedFriend.id)" style="width: 50px; height: 50px; ">
                            <p type="button" *ngIf="!isFriend(selectedFriend)" (click)="onAddFriend(selectedFriend.id)">
                                <strong>SEGUIR</strong>
                            </p>

                            <img src="assets/Unfollow.png" *ngIf="isFriend(selectedFriend) && !showComparison"
                                type="button" (click)="unfollow(selectedFriend.id)" style="width: 50px; height: 50px;">
                            <p *ngIf="isFriend(selectedFriend) && !showComparison" type="button"
                                (click)="unfollow(selectedFriend.id)">
                                <strong>DEJAR DE SEGUIR</strong>
                            </p>

                            <img src="assets/Compare.png" *ngIf="isFriend(selectedFriend) && !showComparison"
                                type="button" style="width: 40px; height: 40px;" (click)="showComparisonOptions()">
                            <p *ngIf="isFriend(selectedFriend) && !showComparison" type="button"
                                (click)="showComparisonOptions()">
                                <strong>COMPARAR</strong>
                            </p>


                            <img *ngIf="showComparison" src="assets/Artist.png" type="button"
                                style="width: 40px; height: 40px;" (click)="getArtistByTheUser(selectedFriend.id)"
                                data-bs-toggle="modal" data-bs-target="#modalcompareArtists">
                            <p *ngIf="showComparison" type="button" (click)="getArtistByTheUser(selectedFriend.id)"
                                data-bs-toggle="modal" data-bs-target="#modalcompareArtists">
                                <strong>ARTISTAS</strong>
                            </p>

                            <img *ngIf="showComparison" src="assets/Song.png" type="button"
                                style="width: 40px; height: 40px;" (click)="getSongsByTheUser(selectedFriend.id)"
                                data-bs-toggle="modal" data-bs-target="#modalcompareSongs">
                            <p *ngIf="showComparison" type="button" (click)="getSongsByTheUser(selectedFriend.id)"
                                data-bs-toggle="modal" data-bs-target="#modalcompareSongs">
                                <strong>CANCIONES</strong>
                            </p>

                            <img *ngIf="showComparison" src="assets/Back.png" type="button"
                                style="width: 35px; height: 35px;" (click)="hideComparisonOptions()">
                            <p *ngIf="showComparison" type="button" (click)="hideComparisonOptions()">
                                <strong>VOLVER</strong>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">

    <div class="follows">
        <div class="col-md-6 text-center animate__animated animate__fadeInLeft">
            <div class="row">
                <div>
                    <img src="assets/MyFollows.png" alt="Imagen" style="width: 60px; height: 60px;">
                </div>
                <p><strong>MIS SEGUIDOS</strong></p>
            </div>
        </div>

        <div class="table-follows">
            <div class="animate__animated animate__fadeInLeftBig">
                <div *ngIf="friends && friends.length > 0; else noFriends">
                    <div *ngFor="let friend of friends; let i = index">
                        <div class="table__profile">
                            <img [src]="friend.url_photo" alt="User Photo" class="user-photo rounded-circle">
                            <span class="table__name">{{ friend.display_name }}</span>
                        </div>
                    </div>
                </div>
                <ng-template #noFriends>
                    <div class="table__profile" style="  display:flex">
                        <span class="table__name">No sigues a nadie todavia.</span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="follows">
        <div class="col-md-6 text-center animate__animated animate__fadeInRight">
            <div class="row">
                <div>
                    <img src="assets/Followers.png" alt="Imagen" style="width: 60px; height: 60px; cursor: pointer;">
                </div>
                <p><strong>MIS SEGUIDORES</strong></p>
            </div>
        </div>

        <div class="table-follows">
            <div class="animate__animated animate__fadeInRightBig">
                <div *ngIf="followers && followers.length > 0; else noFollowers">
                    <div *ngFor="let follower of followers; let i = index">
                        <div class="table__profile">
                            <img [src]="follower.url_photo" alt="User Photo" class="user-photo rounded-circle">
                            <span class="table__name">{{ follower.display_name}}</span>
                        </div>
                    </div>
                </div>
                <ng-template #noFollowers>
                    <div class="table__profile" style="  display:flex">
                        <span class="table__name">No te sigue nadie todavia.</span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalcompareArtists" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="modal-header mx-auto d-flex align-items-center justify-content-between">
                <div class="text-center">
                    <img src="assets/Artist.png" alt="artistImage" style="width: 40px; height: 40px;">
                    <h3>ARTISTAS</h3>
                </div>
            </div>

            <div class="modal-body" *ngIf="myArtist && friendArtist">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">TUYOS:</h3>
                        <ul class="ulCompare">
                            <li class="liCompare" *ngFor="let artist of myArtist.items"
                                style="font-size: 15px; margin-top: 4%;">
                                <div>
                                    <img [src]="artist.images[0].url" alt="{{ artist.name }}"
                                        style="width: 50px; height: 50px; border-radius: 10%;">
                                    <strong> {{ artist.name }}</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="text-center">SUYOS:</h3>
                        <ul class="ulCompare">
                            <li class="liCompare" *ngFor="let artist of friendArtist.artists"
                                style="font-size: 15px; margin-top: 4%">
                                <div>
                                    <img [src]="artist.images[0].url" alt="{{ artist.name }}"
                                        style="width: 50px; height: 50px; border-radius: 10%;">
                                    <strong>{{ artist.name }}</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer mx-auto d-flex align-items-center justify-content-between">
                <div class="text-center">
                    <img src="assets/Back.png" type="button" alt="image_back" data-bs-toggle="modal"
                        data-bs-target="#ModalFollow" style="width: 35px; height: 35px;">
                    <p type="button" data-bs-toggle="modal" data-bs-target="#ModalFollow">
                        <strong>VOLVER</strong>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalcompareSongs" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabelSongs" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.8);">

            <div class="modal-header mx-auto d-flex align-items-center justify-content-between">
                <div class="text-center">
                    <img src="assets/Song.png" alt="artistImage" style="width: 40px; height: 40px;">
                    <h3>CANCIONES</h3>
                </div>
            </div>

            <div class="modal-body" *ngIf="friendSong && mySong">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">TUYAS:</h3>
                        <ul class="ulCompare">
                            <li class="liCompare" *ngFor="let song of mySong.items" style="font-size: 15px;"
                                type="button">
                                <div style="margin-top: 10%;" (click)="redirectSong(song.external_urls.spotify)">
                                    <img src="assets/Star.png" alt="StarImage" style="width: 20px; height: 20px;">
                                    <strong>"{{song.name}}"</strong>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3 class="text-center">SUYAS:</h3>
                        <ul class="ulCompare">
                            <li class="liCompare" *ngFor="let song of friendSong.tracks" style="font-size: 15px;"
                                type="button">
                                <div style="margin-top: 10%;" (click)="redirectSong(song.external_urls.spotify)">
                                    <img src="assets/Star.png" alt="StarImage" style="width: 20px; height: 20px;">
                                    <strong>"{{ song.name }}"</strong>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>



            <div class="modal-footer mx-auto d-flex align-items-center justify-content-between">
                <div class="text-center">
                    <img src="assets/Back.png" type="button" alt="image_back" data-bs-toggle="modal"
                        data-bs-target="#ModalFollow" style="width: 35px; height: 35px;">
                    <p type="button" data-bs-toggle="modal" data-bs-target="#ModalFollow">
                        <strong>VOLVER</strong>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>