<div class="div-container">
    <div class="background">


        <app-navbar></app-navbar>


        <div class="persons-wrapper">
            <div>
                <div class="object">
                    <div class="container" type="button" [routerLink]="['/stats/top-artist']" routerLinkActive="active">
                        <div class="container-inner">
                            <div class="animate__animated animate__bounceInDown">

                                <img type="button" class="circle" style=" background-color: #FFE177;">
                                <img type="button" class="img img1" src="assets/Artist.png">
                            </div>
                        </div>
                    </div>

                    <div class="animate__animated animate__bounceInLeft">
                        <div class="divider" style=" background-color: #FFE177;">
                        </div>
                    </div>

                    <div class="animate__animated animate__bounceInUp">
                        <span class="name">"TOP ARTISTAS"</span>
                    </div>

                    <div class="animate__animated animate__bounceInUp">
                        <span class="title text-center"><strong>Averigua los artistas que más escuchaste en cualquier
                                periodo
                                que quieras.</strong></span>
                    </div>
                </div>
            </div>

            <div class="object">

                <div class="container" type="button" [routerLink]="['/stats/top-song']" routerLinkActive="active">
                    <div class="container-inner">
                        <div class="animate__animated animate__bounceInDown">
                            <img class="circle" style=" background-color: #D1F19E;">
                            <img class="img img2" src="assets/Song.png">
                        </div>
                    </div>
                </div>

                <div class="animate__animated animate__bounceInRight">
                    <div class="divider" style=" background-color: #D1F19E;">
                    </div>
                </div>

                <div class="animate__animated animate__bounceInUp">
                    <span class="name">"TOP CANCIONES"</span>
                </div>

                <div class="animate__animated animate__bounceInUp">
                    <span class="title text-center"><strong>Investiga tus canciones más destacadas en cualquier periodo
                            que quieras.</strong></span>
                </div>
            </div>

        </div>
    </div>
   