<nav class="navbar navbar-expand-lg" style="background-color: rgba(255, 255, 255, 0.8);">
  <div class="container-fluid">
    <div class="dropdown">
      <img src="assets/Config.png" alt="Imagen" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false" style="width: 40px; height: 40px;">
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"
        style="background-color: rgba(255, 255, 255, 0.8);">
        <li>
          <!-- <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Darse de baja</a>
          <a class="dropdown-item" href="#">Cerrar sesion</a>-->

          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <img src="assets/DeleteUser.png" alt="Imagen" style="width: 35px; height: 35px;">
            <strong>Darse de baja</strong>
          </a>
          <a class="dropdown-item" href="#">
            <img src="assets/CerrarSesion.png" alt="Imagen" style="width: 35px; height: 35px;">
            <strong>Cerrar sesión</strong>
          </a>

        </li>
      </ul>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.8);">
          <div class="modal-header">
            <button *ngIf="hintDeleteButton" type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <p *ngIf="hintDeleteButton"><strong>¿Estás seguro que queres darte de baja? Esta acción no se puede
                deshacer.</strong></p>
            <p *ngIf="showContinueButton"><strong>Presiona "Continuar" para terminar con el proceso de
                eliminacion.</strong></p>

          </div>

          <div *ngIf="hintDeleteButton" class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-danger" (click)="deleteFriendsById()"><strong>💀Eliminar mi
                usuario💀</strong></button>
          </div>

          <div *ngIf="showContinueButton" class="modal-footer d-flex justify-content-center">
            <button class="btn btn-danger" data-bs-dismiss="modal"
              (click)="deleteUserById()"><strong>💀Continuar💀</strong></button>
          </div>

        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" href="#">
            <img src="assets/Home.png" alt="Imagen" style="width: 32px; height: 32px;">
            <strong> HOME</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/guess-song']" routerLinkActive="active" href="#">
            <img src="assets/Guess.png" alt="Imagen" style="width: 32px; height: 32px;">
            <strong>GUESS THE SONG</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/make-a-playlist']" routerLinkActive="active" href="#">
            <img src="assets/Playlist.png" alt="Imagen" style="width: 32px; height: 32px;">
            <strong> MAKE A PLAYLIST</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/stats']" routerLinkActive="active" href="#">
            <img src="assets/Stats.png" alt="Imagen" style="width: 32px; height: 32px;">
            <strong> STATS</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/social']" routerLinkActive="active" href="#">
            <img src="assets/Social.png" alt="Imagen" style="width: 32px; height: 32px;">
            <strong> SOCIAL</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>