<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="dropdown">
      <img src="https://cdn-icons-png.flaticon.com/512/2956/2956788.png" alt="Imagen" type="button"
        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
        style="width: 30px; height: 30px; border-radius: 50%;">
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item" href="#">Cerrar sesion</a>
          <a class="dropdown-item" (click)="deleteUser()" >Darse de baja</a> 
        </li>
      </ul>
    </div>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/guess-song']" routerLinkActive="active" href="#">Guess Song!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/make-a-playlist']" routerLinkActive="active" href="#">Make a playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" href="#">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/social']" routerLinkActive="active" href="#">Social</a>
        </li>
      </ul>
    </div>
  </div>
</nav>