<div class="div-container">
    <div class="background">
        <app-navbar></app-navbar>

        <span class="animate__animated animate__jackInTheBox">
            <img src="assets/Average.png" type="button" alt="image_back" style="width: 35px; height: 35px; margin-top: 10px; margin-left: 690px;"
            (click)="getAverage()">
            <div class="text-center" style="margin-top: 10px; margin-left: 45px;">
                <span>
                    <span type="button" (click)="getAverage()">
                        <strong>¿QUIEN ERES MUSICALMENTE?</strong>
                    </span>
                </span>
            </div>
        </span>

        <div class="buttons">

            <div class="animate__animated animate__fadeInLeft">
                <img src="assets/S.png" alt="Short-Artists" type="button" data-bs-toggle="collapse"
                    data-bs-target="#shortTable" aria-expanded="false" aria-controls="shortTable"
                    style="width: 60px; height: 60px; cursor: pointer;"
                    (click)="toggleSeccion('shortTable', 'short_term')">
                <p><strong>ULTIMAS 4 SEMANAS</strong></p>
            </div>

            <div class="animate__animated animate__fadeInDown">
                <img src="assets/M.png" alt="Medium-Artists" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mediumTable" aria-expanded="false" aria-controls="mediumTable"
                    style="width: 60px; height: 60px; cursor: pointer;"
                    (click)="toggleSeccion('mediumTable', 'medium_term')">
                <p><strong>ULTIMOS 6 MESES</strong></p>
            </div>

            <div class="animate__animated animate__fadeInRight">
                <img src="assets/L.png" alt="Long-Artists" type="button" data-bs-toggle="collapse"
                    data-bs-target="#longTable" aria-expanded="false" aria-controls="longTable"
                    style="width: 60px; height: 60px; cursor: pointer;"
                    (click)="toggleSeccion('longTable', 'long_term')">
                <p><strong>TODO TU TIEMPO</strong></p>
            </div>
        </div>

        <div class="tables">

            <div class="table1" *ngIf="topSongs">
                <div class="collapse" id="shortTable" [ngClass]="{ 'show': seccionAbierta === 'shortTable' }">
                    <div class="animate__animated animate__fadeInLeft">
                        <div *ngFor="let song of topSongs.items; let i= index">
                            <div class="table__profile">
                                <img src="{{song.album.images[0].url}}" alt="Album Cover" class="album-cover">
                                <span class="table__name mx-auto ">{{song.name}}</span>
                                <span class="table__name mx-auto ">{{song.album.artists[0].name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table2" *ngIf="topSongs">
                <div class="collapse" id="mediumTable" [ngClass]="{ 'show': seccionAbierta === 'mediumTable' }">
                    <div class="animate__animated animate__fadeInDown">
                        <div *ngFor="let song of topSongs.items; let i= index">
                            <div class="table__profile">
                                <img src="{{song.album.images[0].url}}" alt="Album Cover" class="album-cover">
                                <span class="table__name mx-auto ">{{song.name}}</span>
                                <span class="table__name mx-auto ">{{song.album.artists[0].name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table3" *ngIf="topSongs">
                <div class="collapse" id="longTable" [ngClass]="{ 'show': seccionAbierta === 'longTable'}">
                    <div class="animate__animated animate__fadeInRight">
                        <div *ngFor="let song of topSongs.items; let i= index">
                            <div class="table__profile">
                                <img src="{{song.album.images[0].url}}" alt="Album Cover" class="album-cover">
                                <span class="table__name mx-auto ">{{song.name}}</span>
                                <span class="table__name mx-auto ">{{song.album.artists[0].name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="averageFlag; else noTime">
            <div #magicButton1 type="button" data-bs-toggle="modal" data-bs-target="#averageModal">
                <div class="modal fade" id="averageModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog d-flex align-items-center justify-content-center">
                        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.8);">
                            <div class="modal-body d-flex justify-content-end">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <h1 class="text-center"><strong>¿Quien eres?</strong></h1>
                            <div class="modal-body text-center">
                                <P><strong>{{averageText}}</strong>
                                <P><strong>{{averageCalculation}}</strong>
                                </P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noTime>
            <div #magicButton2 type="button" data-bs-toggle="modal" data-bs-target="#warningModal">
                <div class="modal fade" id="warningModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog d-flex align-items-center justify-content-center">
                        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.8);">
                            <div class="modal-body d-flex justify-content-end">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <h1 class="text-center"><strong>Explora tu Identidad Musical en Spotify</strong></h1>
                            <div class="modal-body text-center">
                                <P><strong>Descubre qué canciones han marcado tu experiencia musical seleccionando
                                        un
                                        periodo de tiempo: últimas 4 semanas, últimos 6 meses o desde el inicio de
                                        tu
                                        uso en
                                        Spotify. Observa cómo tu gusto evoluciona y define tu identidad musical a lo
                                        largo
                                        del tiempo.</strong>
                                </P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>

<!--CREO QUE LOS ATRIBUTOS QUE ESTAMOS MANDANDO SON ENVIROMENTS

      
        <div>
            <button (click)="getTopSongs('long_term')">top songs large term</button>
            <button (click)="getTopSongs('medium_term')">top songs mediem term</button>
            <button (click)="getTopSongs('short_term')">top songs short term</button>

            <button (click)="promedio_popularity()">promedio</button>
            <button (click)="getAudioFeatures()">audio Features</button>
            <button (click)="getAudioStats()">audio stats</button>

        </div>

                            <div *ngIf="topArtists">
                                <table class="table table-success table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Photo</th>
                                            <th scope="col">Artist Name</th>
                                            <th scope="col">Genres</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let artist of topArtists.items">
                                            <td><img src="{{artist.images[2].url}}" alt=""></td>
                                            <td>{{artist.name}}</td>
                                            <td>
                                                <ng-container
                                                    *ngFor="let genre of artist.genres; let last = last; let first = first">
                                                    <ng-container *ngIf="!first && !last">, </ng-container>
                                                    <ng-container *ngIf="last && !first"> & </ng-container>
                                                    {{genre}}
                                                </ng-container>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>



    <td>
                    <ng-container *ngFor="let genre of song.genres; let last = last; let first = first">
                        <ng-container *ngIf="!first && !last">, </ng-container>
                        <ng-container *ngIf="last && !first"> & </ng-container>
                        {{genre}}
                    </ng-container>
                </td>
                                <td><audio src="https://p.scdn.co/mp3-preview/7c136e7220892133e94c4d13d4ca7262d3d5cf4c?cid=a00cd5e5b4d34c1996b89d04beaa411a" controls></audio></td>
-->


<!--
                                    <span class="table__name ">{{song.album.name}}</span>
                                <span class="table__name mx-auto">{{song.duration_ms/60000}}</span>

-->