<div class="div-container">
    <div class="background">

        <app-navbar></app-navbar>
        <div class="row">
            <div class="col-sm-6" *ngIf="showIcon1">
                <div class="animate__animated animate__backInDown">
                    <div class="sc">
                        <img class="image-scs" src="assets/Preguntas.png" alt="Imagen">
                    </div>

                    <div style="margin-left: 58%;">
                        <div class="card text-center mb-3" style="width: 18rem;" *ngIf="showPlaylistCard">
                            <div class="card-body">
                                <h5 class="card-title"><strong>SEGUN COMO SOS</strong></h5>
                                <p class="card-text">Responde algunas preguntas para obtener una playlist según tus
                                    gustos.
                                </p>
                                <button class="btn btn-shine" [routerLink]="['/make-a-playlist/quiz']"
                                    routerLinkActive="active">
                                    <strong>CREAR PLAYLIST</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" *ngIf="showIcon2">
                <div class="animate__animated animate__backInUp">

                    <div class="sc">
                        <img class="image-sqe" src="assets/Gustos.png" alt="Imagen">
                    </div>

                    <div class="card text-center mb-3 " style="width: 18rem;" *ngIf="showMasEscuchadosCard">
                        <div class="card-body">
                            <h5 class="card-title"><strong>SEGUN QUE ESCUCHAS</strong></h5>
                            <p class="card-text">Analizamos que te gusta para obtener una nueva playlist que escuchar.
                            </p>
                            <button class="btn btn-shine" [routerLink]="['/make-a-playlist/recommendations']"
                                routerLinkActive="active">
                                <strong>CREAR PLAYLIST</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>